<div>
  <h1>Berita</h1>
  <hr />
  <div class="mt-4 flex flex-col gap-4">
    {% for berita in news %}
    <div class="news-piece flex gap-2 rounded-xl bg-slate-800">
      <figure class="size-32">
        <img
          src="{{berita.thumbnail.url}}"
          class="rounded-xl object-cover size-32"
        />
      </figure>
      <div class="p-2">
        <h1 class="text-xl">
          <a href="{% url 'berita' berita.id %}">{{berita.title}}</a>
        </h1>
        <p class="mt-2">
          <a href="{% url 'profile' berita.user.id %}"
            ><strong>{{berita.user.userprofile.nama_lengkap}}</strong></a
          >
          | {{berita.created}}
        </p>
        <p>{{berita.description}}</p>
        <p class="badge badge-neutral">Politik</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
