<div>
  <h1>Topik</h1>
  <hr />
  <div class="mt-4 flex flex-col gap-2">
    <div class="flex justify-between">
      <p class="badge badge-neutral">Politik</p>
      <p class="badge badge-neutral">53</p>
    </div>
    <div class="flex justify-between">
      <p class="badge badge-neutral">Makanan</p>
      <p class="badge badge-neutral">47</p>
    </div>
    <div class="flex justify-between">
      <p class="badge badge-neutral">Pendidikan</p>
      <p class="badge badge-neutral">33</p>
    </div>
  </div>
</div>
